*{
    margin: 0;
    padding: 0;
}
.search-container input{
    outline: none;
    height: 50px;
    border: none;
    border-radius: 5px;
    padding: 0 10px;
    font-style: italic;
    font-size: 15px;
    width: 61.3rem;
}






@media only screen and (max-width: 600px) {
    .search-container input{
        /* max-width: 97%; */
        width: fit-content;
        padding-right: 190px;
    }
}